
<script src="<%= config.baseDir %>/jquery/jquery.min.js"></script>
<script src="<%= config.baseDir %>/js/lib/jquery-ui/1.12.0/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="<%= config.baseDir %>/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<script src="<%= config.baseDir %>/js/admin/main.js"></script>
<script src="<%= config.baseDir %>/js/admin/files.js"></script>
<script src="<%= config.baseDir %>/js/admin/questions.js"></script>
<script src="<%= config.baseDir %>/js/admin/tutorials-quizzes.js"></script>
<script src="<%= config.baseDir %>/js/admin/responses.js"></script>

<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
</body>
</html>