
<script src="<%= config.baseDir %>/jquery/jquery.min.js"></script>
<script src="<%= config.baseDir %>/js/lib/jquery-ui/1.12.0/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="<%= config.baseDir %>/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<script src="<%= config.baseDir %>/js/admin/main.js"></script>
<!--<script src="<%= config.baseDir %>/js/admin/files.js"></script>-->-

<!--<script src="<%= config.baseDir %>/js/admin/responses.js"></script>-->
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>


</body>
</html>