        </div>
        <script src="<%= getAbsUrl('/jquery/jquery.min.js') %>"></script>
        <script src="<%= getAbsUrl('/bootstrap/js/bootstrap.min.js') %>"></script>
        <script src="<%= getAbsUrl('/sweetalert/sweetalert.min.js') %>"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.min.js"></script>
        <% if (typeof initSocket !== 'undefined') { %> 
            <script src="<%= getAbsUrl('/socketioclient/socket.io.js') %>"></script>
            <script src="<%= getAbsUrl('/js/start-quiz-bundle.js') %>"></script>
        <% } %>
        <% if (typeof initQuestionForm !== 'undefined') { %>
            <script src="<%= getAbsUrl('/lodash/lodash.min.js') %>"></script>
            <script src="<%= getAbsUrl('/js/question.compact.js') %>"></script>
        <% } %>
    </body>
</html>