<%/*----------------------------------
Course list page for admin panel.

Author(s): Jun Zheng [me at jackzh dot com]
           Neeilan Selvalingam
-----------------------------------*/%>

<% include ../Partials/Header.ejs %>

<ol class="breadcrumb">
    <li class="active">Courses</li>
</ol>

<h3><%= title %></h3>

<% include ../Partials/Flash.ejs %>

<form method="post">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="code">Code</th>
            <th class="name">Name</th>
            <th class="actions"></th>
        </tr>
        </thead>
        <tbody>
        <% if (_.isEmpty(courses)) { %>
            <tr>
                <td colspan="3">
                    You don't have any courses yet, ask your administrator to add your course.
                </td>
            </tr>
        <% } else { %>
            <% _.each(courses, course => { %>
                <tr>
                    <td class="code"><%= course.getCode() %></td>
                    <td class="name"><%= course.getDisplayName() %></td>
                    <td class="actions">
                        <div class="dropdown">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                Actions <span class="caret"/>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="<%= config.baseDir %>/admin/courses/<%= course.getId() %>/quizzes">
                                        <span class="glyphicon glyphicon-list-alt"></span> Manage Quizzes
                                    </a>
                                </li>
                                <% if (user.isAdmin() || user.isInstructor()) { %>
                                    <li>
                                        <a href="<%= config.baseDir %>/admin/courses/<%= course.getId() %>/tutorials-quizzes">
                                            <span class="glyphicon glyphicon-play-circle"></span> Conduct Quizzes
                                        </a>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    </td>
                </tr>
            <% }) %>
        <% } %>
        </tbody>
    </table>
</form>

<% include ../Partials/Footer.ejs %>
