<% /*----------------------------------
Page that lists quizzes for a course.

Author(s): Jun Zheng [me at jackzh dot com]
           Neeilan Selvalingam
           Michael Dennis
-----------------------------------*/ %>
<%- include ../Partials/Header.ejs %>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= getAbsUrl('/admin/courses') %>">Courses</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= course.getCode() %> Quizzes</li>
    </ol>
</nav>

<h3>
    <i class="fa fa-file-text-o" aria-hidden="true"></i>
    All Quizzes
    <small class="text-muted"><%= course.getDisplayName() %></small>
</h3>

<%- include ../Partials/Flash.ejs %>

<hr/>
<div class="nav-actions">
    <a href="<%= getAbsUrl('/admin/courses/' + course.getId() + '/quizzes/new') %>"
       class="btn btn-primary btn-raised">
        <i class="fa fa-plus" aria-hidden="true"></i> Add New Quiz
    </a>
</div>
<hr/>

<form method="post">

    <table class="table table-hover table-bordered table-light">
        <thead>
        <tr>
            <th class="name">Name</th>
            <th class="text-center"># of questions</th>
            <th class="createdAt">Date Created</th>
            <th class="actions"></th>
        </tr>
        </thead>
        <tbody>
        <% if (_.isEmpty(course.quizzes)) { %>
        <tr>
            <td colspan="4">No quizzes have been added yet.</td>
        </tr>
        <% } else { %>
        <% course.quizzes.forEach(quiz => { %>
        <tr>
            <td class="name"><%= quiz.name %></td>
            <td class="text-center"><%= quiz.questions.length %></td>
            <td class="createdAt"><%= moment(quiz.createdAt).format(DATEFORMAT) %></td>
            <td class="actions">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           href="<%= getAbsUrl(`/admin/courses/${course.getId()}/quizzes/${quiz._id}/edit`) %>">
                            <i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;Edit Quiz
                        </a>
                        <a class="dropdown-item btn-copy"
                           href="<%= getAbsUrl(`/admin/courses/${course.getId()}/quizzes/${quiz._id}/copy`) %>">
                            <i class="fa fa-clone" aria-hidden="true"></i> &nbsp;Copy Quiz
                        </a>
                        <a class="dropdown-item"
                           href="<%= getAbsUrl(`/admin/courses/${course.getId()}/quizzes/${quiz._id}/questions`) %>">
                            <i class="fa fa-list" aria-hidden="true"></i> &nbsp;Questions
                        </a>
                        <a class="dropdown-item btn-delete"
                           href="<%= getAbsUrl(`/admin/courses/${course.getId()}/quizzes/${quiz._id}?_method=delete`) %>">
                            <i class="fa fa-trash" aria-hidden="true"></i> &nbsp;Delete Quiz
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        <% }) %>
        <% } %>
        </tbody>
    </table>
</form>

<%- include ../Partials/Footer.ejs %>

<script src="<%= getAbsUrl("/js/admin/quizzes.js") %>"></script>
