<% /*----------------------------------
Page used to edit or create an question.

Author(s): Jun Zheng [me at jackzh dot com]
           Neeilan Selvalingam
-----------------------------------*/ %>
<% include ../Partials/Header.ejs %>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= getAbsUrl('/admin/courses') %>">Courses</a></li>
        <li class="breadcrumb-item">
            <a href="<%= getAbsUrl(`/admin/courses/${course.getId()}/quizzes`) %>">
                <%= course.getCode() %> Quizzes
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="<%= getAbsUrl(`/admin/courses/${course.getId()}/quizzes/${quiz._id}/questions`) %>">
                <%= quiz.name %> Questions
            </a>
        </li>
        <li class="breadcrumb-item active"><%- question.isNew ? 'New' : 'Edit' %></li>
    </ol>
</nav>

<h3><%- title %></h3>

<% include ../Partials/Flash.ejs %>

<form action="<%= getAbsUrl(`/admin/courses/${course.getId()}/quizzes/${quiz._id}/questions/` + (question.isNew ? '' : `${question._id}?_method=put`)) %>"
      method="post" autocomplete="off" class="form-horizontal" id="question-form">

    <% if (question.submitter) { %>
        <div class="form-group" style="margin-top: 10px">
            <label class="col-xs-7 col-sm-3 control-label">Submitted By</label>
            <div class="col-xs-5 col-sm-9">
                <p class="form-control-static"><%= question.submitter.name.full %></p>
            </div>
        </div>
    <% } %>

    <h5>Basic Information</h5>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group help">
                <label title="Ex: 1, A or 1a">Number</label>
                <input name="number" value="<%= question.number %>" maxlength="6" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group required">
                <label class="control-label">Type</label>
                <select name="type" class="form-control"<%= question.submitter ? ' disabled' : '' %>>
                    <% _.each(question.schema.path('type').enumValues, type => { %>
                        <option value="<%= type %>"<%= question.type === type ? ' selected' : '' %>><%= _.upperFirst(type) %></option>
                    <% }) %>
                </select>
            </div>
        </div>
    </div>

    <!-- question -->

    <h5>
        Question
        <button class="btn btn-light btn-sm" type="button" onclick="showQuestionPreview();"><i class="fa fa-eye" aria-hidden="true"></i> Preview</button>
    </h5>
    <textarea form="question-form" id="question-input" name="question"><%= question.question %></textarea>
    <br/>
    <!-- multiple choice -->
    <div class="form-group required" data-type="multiple choice">
        <h5>
            Choices & Answer
            <button class="btn btn-light btn-sm" type="button" onclick="showChoiceAnswersPreview('.multiple-choice-answer');"><i class="fa fa-eye" aria-hidden="true"></i> Preview</button>
        </h5>
        <% if (question.isNew || !question.isMultipleChoice()) { %>
            <% for (let i = 0, len = 3; i < 3; i++) { %>
                <div class="input-group mb-3">
                    <div class="input-group-prepend pr-2">
                        <span class="input-group-text"><input type="radio" name="_answer"
                                                              value="<%= i %>"<%= !i ? ' checked' : '' %>></span>
                    </div>
                    <input name="_choices[<%= i %>]" type="text" class="form-control multiple-choice-answer" value=""/>
                    <div class="input-group-append">
                        <button class="btn btn-danger btn-remove-choice btn-sm"><i class="fa fa-times"
                                                                                   aria-hidden="true"></i></button>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <% _.each(question.choices, (choice, i) => { %>
                <div class="input-group mb-3">
                    <div class="input-group-prepend pr-2">
                        <span class="input-group-text"><input type="radio" name="_answer"
                                                              value="<%= i %>"<%= question.isAnswer(choice) ? ' checked' : '' %>></span>
                    </div>
                    <input name="_choices[<%= i %>]" type="text" class="form-control multiple-choice-answer" value="<%= choice %>"/>
                    <div class="input-group-append">
                        <button class="btn btn-danger btn-remove-choice btn-sm"><i class="fa fa-times"
                                                                                   aria-hidden="true"></i></button>
                    </div>
                </div>
            <% }) %>
        <% } %>
        <div class="input-group mb-3" style="display: none;">
            <div class="input-group-prepend pr-2">
                <span class="input-group-text"><input type="radio" name="_answer" value=""></span>
            </div>
            <input name="_choices[]" type="text" class="form-control multiple-choice-answer" value=""/>
            <div class="input-group-append">
                <button class="btn btn-danger btn-remove-choice btn-sm"><i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default btn-raised btn-add-choice btn-sm">
                Add another choice
            </button>
        </div>
    </div>

    <!-- multiple select -->
    <div class="form-group required" data-type="multiple select">
        <h5>
            Choices & Answers
            <button class="btn btn-light btn-sm" type="button" onclick="showChoiceAnswersPreview('.multiple-select-answer');"><i class="fa fa-eye" aria-hidden="true"></i> Preview</button>
        </h5>
        <label class="control-label">Choices &amp; Answers</label>
        <% if (question.isNew || !question.isMultipleSelect()) { %>
            <% for (let i = 0, len = 3; i < 3; i++) { %>
                <div class="input-group mb-3">
                    <div class="input-group-prepend pr-2">
                        <span class="input-group-text"><input type="checkbox" name="_answers[]" value="<%= i %>"></span>
                    </div>
                    <input name="_choices[<%= i %>]" type="text" class="form-control multiple-select-answer" value=""/>
                    <div class="input-group-append">
                        <button class="btn btn-danger btn-remove-choice btn-sm"><i class="fa fa-times"
                                                                                   aria-hidden="true"></i></button>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <% _.each(question.choices, (choice, i) => { %>
                <div class="input-group mb-3">
                    <div class="input-group-prepend pr-2">
                        <span class="input-group-text"><input type="checkbox" name="_answers[]"
                                                              value="<%= i %>"<%= question.isAnswer(choice) ? ' checked' : '' %>></span>
                    </div>
                    <input name="_choices[<%= i %>]" type="text" class="form-control multiple-select-answer" value="<%= choice %>"/>
                    <div class="input-group-append">
                        <button class="btn btn-danger btn-remove-choice btn-sm"><i class="fa fa-times"
                                                                                   aria-hidden="true"></i></button>
                    </div>
                </div>
            <% }) %>
        <% } %>
        <div class="input-group mb-3" style="display: none;">
            <div class="input-group-prepend pr-2">
                <span class="input-group-text"><input type="checkbox" name="_answers[]" value=""></span>
            </div>
            <input name="_choices[]" type="text" class="form-control multiple-select-answer" value=""/>
            <div class="input-group-append">
                <button class="btn btn-danger btn-remove-choice btn-sm"><i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default btn-raised btn-add-choice btn-sm">
                Add another choice
            </button>
        </div>
    </div>

    <!-- short-answer -->
    <div class="form-group required" data-type="short answer">
        <label class="control-label">Acceptable Answers</label>
        <% if (question.isNew || !question.isShortAnswer()) { %>
            <% for (let i = 0, len = 3; i < 3; i++) { %>
                <div class="input-group mb-3">
                    <input name="_answers[<%= i %>]" type="text" class="form-control" value=""/>
                    <div class="input-group-append">
                        <button class="btn btn-danger btn-remove-choice btn-sm"><i class="fa fa-times"
                                                                                   aria-hidden="true"></i></button>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <% _.each(question.answers, (answer, i) => { %>
                <div class="input-group mb-3">
                    <input name="_answers[<%= i %>]" type="text" class="form-control" value="<%= answer %>"/>
                    <div class="input-group-append">
                        <button class="btn btn-danger btn-remove-choice btn-sm"><i class="fa fa-times"
                                                                                   aria-hidden="true"></i></button>
                    </div>
                </div>
            <% }) %>
        <% } %>
        <div class="input-group mb-3" style="display: none;">
            <input name="_answers[]" type="text" class="form-control" value=""/>
            <div class="input-group-append">
                <button class="btn btn-danger btn-remove-choice btn-sm"><i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default btn-raised btn-add-choice btn-sm">
                <span class="glyphicon glyphicon-plus"></span> Add another correct answer
            </button>
        </div>
    </div>

    <!-- code-tracing -->
    <div class="form-group required" data-type="code tracing">
        <label class="control-label">Code</label>
        <pre style="height: 100px;"><code contenteditable data-name="code"><%= question.code %></code></pre>
    </div>

    <div class="form-group required" data-type="code tracing">
        <label class="control-label">Answers</label>
        <% if (question.isNew || !question.isCodeTracing()) { %>
            <pre style="height: 100px;"><code contenteditable data-name="_answers"></code></pre>
        <% } else { %>
            <pre style="height: 100px;"><code contenteditable
                                              data-name="_answers"><%= question.answers.join("\n") %></code></pre>
        <% } %>
    </div>

    <!-- options -->

        <br/>
    <h5>Scoring & Other Options</h5>

    <!--TODO: Remove this tag feature for questions, not needed.-->
    <input type="hidden" name="_tags" value="<%= question.tags.join(', ') %>" class="form-control" maxlength="70">

    <!--<div class="form-group" data-type="multiple choice|multiple select|short answer">-->
        <!--<label class="control-label">Shuffle choices?</label>-->
        <!--<div class="switch">-->
            <!--<label>-->
                <!--<input type="checkbox" name="shuffleChoices" value="1" <%= question.shuffleChoices ? ' checked' : '' %>>-->
            <!--</label>-->
        <!--</div>-->
    <!--</div>-->

    <!--TODO: This needs to be removed-->
    <input type="hidden" name="useLaTeX" value="1" <%= question.useLaTeX ? ' checked' : '' %>>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group" data-type="multiple choice|multiple select|short answer">
                    <label class="control-label">Points possible</label>
                    <input type="number" name="points" value="<%= question.points %>" min="0" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" data-type="multiple choice|multiple select|short answer">
                    <label class="control-label">Penalty per attempt</label>
                    <input type="number" name="penalty" value="<%= question.penalty %>" min="0" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">First-try bonus</label>
                    <input type="number" name="firstTryBonus" value="<%= question.firstTryBonus %>" min="0" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" data-type="short answer">
                    <label class="control-label">Case-sensitive</label>
                    <div class="switch">
                        <label>
                            <input type="checkbox" name="caseSensitive" value="1" <%= question.caseSensitive ? ' checked' : '' %>>
                        </label>
                    </div>
                </div>
            </div>
        </div>


    <div class="form-group" data-type="code tracing">
        <label class="control-label">Disable immediate feedback?</label>
        <input type="checkbox" name="immediateFeedbackDisabled"
               value="1" <%= question.immediateFeedbackDisabled ? ' checked' : '' %>>
    </div>

    <div class="form-group" data-type="code tracing">
        <label class="control-label">Points per line</label>
        <input type="number" name="maxPointsPerLine" value="<%= question.maxPointsPerLine %>" min="0"
               class="form-control">
    </div>

    <div class="form-group" data-type="code tracing">
        <label class="control-label">Attempts per line before revealing answer</label>
        <input type="number" name="maxAttemptsPerLine" value="<%= question.maxAttemptsPerLine %>" placeholder="3"
               min="1" class="form-control">
    </div>

    <% if (question.submitter) { %>
        <div class="form-group required">
            <label class="control-label">Approved?</label>
            <div class="switch">
                <label>
                    <input type="checkbox" name="approved" value="1" <%= question.approved ? ' checked' : '' %>>
                </label>
            </div>
        </div>
    <% } %>

    <br>

    <!-- buttons -->
    <div class="form-group">
        <% if (question.isNew) { %>
            <input type="hidden" id="back" name="back" value="1">
            <button type="submit" class="btn btn-primary btn-raised" onclick="back.value=0">Save &amp; Add Another New
                Question
            </button>
            <button type="submit" class="btn btn-primary btn-raised">Save &amp; Go Back To List</button>
        <% } else { %>
            <button type="submit" class="btn btn-primary btn-raised">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
            </button>
        <% } %>
            <a href="<%= getAbsUrl(`/admin/courses/${course.getId()}/quizzes/${quiz._id}/questions`) %>"
               class="btn btn-link">Cancel</a>
    </div>

    <!-- modals -->
    <% include ../Partials/ModalShowFiles.ejs %>
    <% include ../Partials/ModalShowLinks.ejs %>
</form>

<div class="modal fade" id="question-format-help" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">How to write questions.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>To write your question, simply write it in plain text.</p>
                <h4>Math Expressions</h4>
                <p>If you wish to include math expressions, you
                    must
                    wrap it around <code>$$</code>.</p>
                <p>For example, if you typed the following content:</p>

                <pre><code>Suppose you have $$F_X(x) = x^2$$ what is P(X < 1) ?</code></pre>

                <p>Student will see the following on their screen:</p>

                <p>Suppose you have $$F_X(x) = x^2$$ what is P(X < 1) ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<% include QuizQuestion/PreviewQuestion.ejs %>
<% include QuizQuestion/PreviewChoiceAnswers.ejs %>

<% include ../Partials/Footer.ejs %>

<script src="<%= config.baseDir %>/js/admin/questions.js"></script>

<script>

    renderMathInElement(document.body);

    tinymce.init({
        selector: '#question-input',
        plugins: "table",
        height: "200"
    });

</script>