<%/*----------------------------------
Page that lists all questions within a quiz

Author(s): Jun Zheng [me at jackzh dot com]
           Neeilan Selvalingam
-----------------------------------*/%>

<% include ../Partials/Header.ejs %>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= getAbsUrl('/admin/courses') %>">Courses</a></li>
        <li class="breadcrumb-item" aria-current="page">
            <a href="<%= getAbsUrl(`/admin/courses/${course.getId()}/quizzes`) %>">
                <%= course.getCode() %> Quizzes
            </a>
        </li>
        <li class="breadcrumb-item active"><%= quiz.name %> Questions</li>
    </ol>
</nav>

<h3 id="title"><%- title %></h3>

<% include ../Partials/Flash.ejs %>

<form method="post">
    <hr/>
    <div class="nav-actions">
        <a href="<%= getAbsUrl(`/admin/courses/${course.getId()}/quizzes/${quiz._id}/questions/new`) %>" class="btn btn-primary btn-raised">
            <i class="fa fa-plus" aria-hidden="true"></i> Add New Question
        </a>
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="?sort=">Default</a>
                <a class="dropdown-item" href="?sort=createdAt">Date Created</a>
                <a class="dropdown-item" href="?sort=votes">Votes</a>
            </div>
        </div>
        <button type="submit" formaction="<%= getAbsUrl(`/admin/courses/${course.getId()}/quizzes/${quiz._id}/questions/sort?_method=patch`) %>" class="btn btn-default btn-primary">
            Save Order
        </button>
    </div>
    <hr/>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="sort"></th>
                <th class="number">No.</th>
                <th class="type">Type</th>
                <th class="question">Question</th>
                <th class="votes">Votes</th>
                <th class="createdAt">Date Created</th>
                <th class="actions"></th>
            </tr>
        </thead>
        <% if (_.isEmpty(quiz.questions)) { %>
        <tbody>
            <tr><td colspan="7">No questions have been added yet.</td></tr>
        </tbody>
        <% } else { %>
            <% _.each(['pending', 'approved'], status => { %>
                <% if (_.keys(questions).length > 1) { %>
                    <thead>
                        <tr><th class="status" colspan="7"><%= _.startCase(status) %></th></tr>
                    <thead>
                <% } %>
                <tbody>
                <% _.each(questions[status], question => { %>
                    <tr class="<%- status %>">
                        <td class="sort">
                        <% if (status != 'pending') { %>
                            <i class="fa fa-sort handle" aria-hidden="true"></i>
                            <input type="hidden" name="questions[]" value="<%= question._id %>">
                        <% } %>
                        </td>
                        <td class="number"><%= question.number %></td>
                        <td class="type"><%= question.type %></td>
                        <td class="question">
                            <div class="question"><%= question.question %></div>
                            <% if (question.tags.length) { %>
                                <div class="tags">
                                <% _.each(question.tags, tag => { %>
                                    <span class="label label-info"><%= tag %></span>
                                <% }) %>
                                </div>
                            <% } %>
                            <% if (question.submitter) { %>
                                <div class="submitter">
                                    <span class="label label-default">Submitted by <%= question.submitter.name.full %></span>
                                </div>
                            <% } %>
                        </td>
                        <td class="votes">
                            <div>
                                <span class="up">+ <%= question.votes.up.length %></span>
                                <span class="down">- <%= question.votes.down.length %></span>
                            </div>
                        </td>
                        <td class="createdAt"><%= moment(question.createdAt).format(DATEFORMAT) %></td>
                        <td class="actions">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="<%= getAbsUrl(`/admin/courses/${course.getId()}/quizzes/${quiz._id}/questions/${question._id}/edit`) %>">
                                        Edit Question
                                    </a>
                                    <form action="<%= getAbsUrl(`/admin/courses/${course.getId()}/quizzes/${quiz._id}/questions/${question._id}?_method=delete`) %>" method="post">
                                        <button class="dropdown-item" class="btn-delete">
                                            Delete Question
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            <% }) %>
        <% } %>
    </table>
</form>

<% include ../Partials/Footer.ejs %>

<script src="<%= config.baseDir %>/js/admin/questions.js"></script>
