<% include ../Partials %>

<ol class="breadcrumb">
    <li><a href="<%= getAbsUrl('/admin/courses') %>">Courses</a> ‐ <%= course.getCode() %></li>
    <li><a href="<%= getAbsUrl(`/admin/courses/${course.getId()}/tutorials-quizzes`) %>">Tutorials &amp; Quizzes</a></li>
    <li class="active">Conduct</li>
</ol>

<h3 id="title"><%- title %></h3>

<% include ../Partials %>

<ul class="nav nav-tabs">
    <li class="active"><a href="#settings" data-toggle="tab">Settings</a></li>
    <li><a href="#groups" data-toggle="tab">Groups</a></li>
</ul>

<div class="tab-content">

    <!-- settings -->
    <div class="tab-pane active" id="settings">
        <br>
        <form action="<%= getAbsUrl(`/admin/courses/${course.getId()}/tutorials-quizzes/${tutorialQuiz._id}?_method=patch`) %>" method="post" class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 control-label">Allocate members by</label>
                <div class="col-xs-7 col-sm-8">
                    <select name="allocateMembers" class="form-control">
                        <option value="automatically"<%= tutorialQuiz.allocateMembers === 'automatically' ? ' selected' : '' %>>automatically assigning users to groups as they sign in</option>
                        <option value="self-selection"<%= tutorialQuiz.allocateMembers === 'self-selection' ? ' selected' : '' %>>allowing users to assign themselves to groups as they sign in</option> 
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 control-label">Set group size</label>
                <div class="col-xs-4 col-sm-3">
                    <input type="number" name="maxMembersPerGroup" value="<%= tutorialQuiz.maxMembersPerGroup %>" min="1" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 control-label">Publish quiz?</label>
                <div class="col-xs-4 col-sm-8">
                    <input type="checkbox" value="1" class="bootstrap-switch" name="published"<%= tutorialQuiz.published ? ' checked' : '' %>>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 control-label">Activate quiz?</label>
                <div class="col-xs-4 col-sm-8">
                    <input type="checkbox" value="1" class="bootstrap-switch" name="active"<%= tutorialQuiz.active ? ' checked' : '' %>>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 control-label">Archive quiz?</label>
                <div class="col-xs-4 col-sm-8">
                    <input type="checkbox" value="1" class="bootstrap-switch" name="archived"<%= tutorialQuiz.archived ? ' checked' : '' %>>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-4 col-sm-offset-4 col-xs-8 col-sm-8">
                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                </div>
            </div>
        </form>
    </div>
    <!-- /settings -->

    <!-- groups -->
    <div class="tab-pane" id="groups">
        <form method="post">
            <div class="nav-actions">

                <a href="<%= getAbsUrl(`/admin/courses/${course.getId()}/tutorials-quizzes/${tutorialQuiz._id}/groups/generate`) %>" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-random"></span> Randomize Groups
                </a>

                <button type="button" class="btn btn-default btn-sm btn-add"><span class="glyphicon glyphicon-plus"></span> Add New Group</button>

                <a href="<%= getAbsUrl(`/admin/courses/${course.getId()}/tutorials-quizzes/${tutorialQuiz._id}/groups?_method=patch`) %>"
                   class="btn btn-default btn-sm btn-primary btn-save">
                    <span class="glyphicon glyphicon-ok"></span> Save Groups
                </a>

            </div>
            <table class="table table-hover table-nofluid">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>Groups</th>
                    </tr>
                </thead>
                <tbody>
                <% if (_.isEmpty(students)) { %>
                    <tr><td colspan="2">No students have been added into the tutorial yet.</td></tr>
                <% } else { %>
                    <% _.each(students, student => { %>
                        <tr>
                            <td class="student"><%= student.getUsername() %></td>
                            <td class="groups">
                                <input type="hidden" name="users[]" value="<%= student.getId() %>">
                            <% _.each(groups, group => { %>
                                <input type="checkbox" name="+users[<%= student.getId() %>]" value="<%= group.isNew ? group.name : group._id %>" data-label="<%= group.name %>"<%= group.hasMember(student.getId()) ? ' checked' : '' %>>
                            <% }) %>
                                <input type="checkbox" name="+users[<%= student.getId() %>]" value="_" data-label="_">
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
                </tbody>
            </table>
        </form>
    </div>
    <!-- /groups -->

</div>

<% include ../Partials %>