<% include ../Partials/Header.ejs %>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="<%= getAbsUrl('/admin/courses') %>">Courses</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a href="<%= getAbsUrl(`/admin/courses/${course.getId()}/tutorials-quizzes`) %>">
                Tutorials & Quizzes
            </a>
        </li>
        <li class="breadcrumb-item active">Marks</li>
    </ol>
</nav>

<h3><%- title %></h3>

<div class="nav-actions">
    <a class="btn btn-primary" href="<%= getAbsUrl(`/admin/courses/${course.getId()}/tutorials-quizzes/${tutorialQuiz._id}/marks?export=true`) %>">
        Export CSV
    </a>
</div>

<hr/>

<table class="table table-hover table-nofluid">
    <thead>
        <tr>
            <th>Username</th>
            <th class="text-center">Group</th>
            <th class="text-center">Mark</th>
            <!--<th class="actions"></th>-->
        </tr>
    </thead>
    <tbody>
    <% if (_.isEmpty(data)) { %>
        <tr><td colspan="8">No students have been added yet.</td></tr>
    <% } else { %>
        <% _.each(data, row => { %>
            <tr>
                <td><%= row.member.getUsername() %></td>
                <td><%= row.group.name %></td>
                <td><%= row.score %></td>
                <!--<td class="actions">-->
                    <!--<div class="dropdown">-->
                        <!--<button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                            <!--Actions-->
                        <!--</button>-->
                        <!--<div class="dropdown-menu">-->
                            <!--<a class="dropdown-item" href="/admin/courses/<%= course.getId() %>/tutorials-quizzes/<%= tutorialQuiz._id %>/groups/<%= row.group._id %>/responses">-->
                                <!--View Group Responses-->
                            <!--</a>-->
                            <!--<a class="dropdown-item" href="/admin/courses/<%= course.getId() %>/students/<%= row.member.getId() %>/marks">-->
                                <!--View Student Marks-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</td>-->
            </tr>
        <% }) %>
    <% } %>
    </tbody>
</table>

<% include ../Partials/Footer.ejs %>