        </main>
        <script src="<%= config.baseDir %>/jquery/jquery.min.js"></script>
        <script src="<%= config.baseDir %>/bootstrap/js/bootstrap.min.js"></script>
        <% if (typeof user !== 'undefined') { %>
            <script src="<%= config.baseDir %>/bootbox/bootbox.min.js"></script>
            <script src="<%= config.baseDir %>/bootstrap-switch/js/bootstrap-switch.min.js"></script>
            <script src="<%= config.baseDir %>/js/lib/jquery-ui/1.12.0/jquery-ui.min.js"></script>
            <script src="<%= config.baseDir %>/js/admin/main.js"></script>
            <script src="<%= config.baseDir %>/js/admin/users.js"></script>
            <script src="<%= config.baseDir %>/js/admin/courses.js"></script>
            <script src="<%= config.baseDir %>/js/admin/files.js"></script>
            <script src="<%= config.baseDir %>/js/admin/quizzes.js"></script>
            <script src="<%= config.baseDir %>/js/admin/questions.js"></script>
            <script src="<%= config.baseDir %>/js/admin/tutorials.js"></script>
            <script src="<%= config.baseDir %>/js/admin/tutorials-quizzes.js"></script>
            <script src="<%= config.baseDir %>/js/admin/responses.js"></script>
            <script src="<%= config.baseDir %>/js/admin/hub.js"></script>
        <% } %>
    </body>
</html>